<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @cell_phone.model %>
</p>

<p>
  <strong>Version:</strong>
  <%= @cell_phone.version %>
</p>

<%= link_to 'Edit', edit_cell_phone_path(@cell_phone) %> |
<%= link_to 'Back', cell_phones_path %>
